[Desktop Entry]
Version=1.0
Type=Application
Name=Blackmagic RAW Speed Test
Exec=/app/BlackmagicRAWSpeedTest/BlackmagicRAWSpeedTest
Icon=com.blackmagic.Resolve.RAWSpeedTest
Terminal=false
StartupNotify=true
Categories=AudioVideo
PrefersNonDefaultGPU=true
